{% extends 'admin/listbase.twig' %}
{% block content %}
            <!-- Page Heading -->
            <div class="row">
                <table class="table table-striped" contenteditable="true">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>品牌名称</th>
                        <th>品牌图片</th>
                        <th>品牌描述</th>
                        <th>创建时间</th>
                        <th>最后修改</th>
                        <th>作者</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for row, news in newslist %}
                    <tr>
                        <td>{{ news.id }}</td>
                        <td>{{ news.title }}</td>
                        <td><img src="{{ news.ttimg }}" width="60" height="60"/> </td>
                        <td>{{ news.description }}</td>
                        <td>{{ news.creattime }}</td>
                        <td>{{ news.mdtime }}</td>
                        <td>{{ news.author }}</td>
                        <td>
                            <button class="btn btn-info view" data-id="{{ news.id }}" type="button">查看</button>
                            <button class="btn btn-reddit edit" data-id="{{ news.id }}" type="button">修改</button>
                            <button class="btn btn-danger del" data-id="{{ news.id }}" type="button">删除</button>
                        </td>
                    </tr>
                     {% endfor %}

                    </tbody>
                </table>
            </div>

{% endblock %}